* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

div#first {
    width: 100vw;
    height: 100vh;
}

div.panel {
    float: left;
    word-break: break-all;
    color: limegreen;
}

div.block {
    background: limegreen;
}

div.width {
    width: 100%;
    height: 50%;
}

div.wline {
    border-bottom: 1px solid limegreen;
}

div.height {
    width: 50%;
    height: 100%;
}

div.hline {
    border-right: 1px solid limegreen;
}